body {
    font-family: Tahoma, serif;
    font-size: 19px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    max-width: 100%;
    margin: auto;
}

input, select {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #293462;
    padding: 15px;
    font-size: 18px;
    width: 250px;
    height:25px;
}

label {
    font-size: 18px;
    color: #293462;
    font-weight: lighter;
}

.login {
    text-align: right;
    background: #2B4865;
    color: #9FF4DF;
    width: 100%;
    font-size: 13px;
}

.header {
    background: #002B5B;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    height: 80px;
    vertical-align: middle;
    padding-bottom: 40px;
}

.menu {
    background: #002B5B;
    text-align: center;
    padding-bottom: 40px;
}

.content {
    padding: 5px;
}

.title {
    font-size: 48px;
    color: #002B5B;
}

.new_element{
    text-align: center;
    padding: 10px;
}

.data_grid {
    text-align: center;
    padding:5px;
}

table.table_data {
    border: 1px solid #002B5B;
    width: auto;
    height: auto;
    text-align: center;
    border-collapse: collapse;
}

table.table_data td, table.table_data th {
    border: 1px solid #256D85;
    padding: 5px 5px;
}

table.table_data tbody td {
    font-size: 18px;
}

table.table_data tr:nth-child(even) {
    background: rgb(143, 227, 207, 0.15);
}

table.table_data thead {
    background: #2B4865;
    border-bottom: 5px solid #256D85;
}

table.table_data thead th {
    font-size: 18px;
    font-weight: bold;
    color: #AFF5EF;
    text-align: center;
    border-left: 2px solid #256D85;
}

.button_menu {
    -webkit-border-radius: 40px 10px 40px 10px;
    -moz-border-radius: 40px 10px 40px 10px;
    border-radius: 40px 10px 40px 10px;
    border: 1px solid #256D85;
    font-weight: normal;
    font-size: 24px;
    vertical-align: top;
    color: #2B4865;
    background: #8FE3CF;
    height: 35px;
    width: 180px;
    transition-duration: 0.35s;
}

.button_menu:hover {
    border: 1px solid #2B4865;
    font-weight: bold;
    color: #8FE3CF;
    background: #256D85;
}

.button_new {
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #5FC3AF;
    color: #FFFFFF;
    background: #139487;
    height: 35px;
    width: 190px;
}

.button_add {
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #295482;
    color: #293462;
    background: #1CD6CE;
    height: 30px;
    width: 150px;
}

.button_update {
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #293462;
    color: #293462;
    background: #FEDB39;
    height: 30px;
    width: 150px;
}

.button_cancel {
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #293462;
    color: #DFFFFF;
    background: #D61C4E;
    height: 30px;
    width: 150px;
}

.modal{
    display: none;
    position: fixed;
    left: 50%;
    top: 290px;
    margin-left: -180px;
    z-index: 1;
    width: auto;
    height: auto;
    overflow: auto;
}

.modal_content{
    background-color: #F5FFFF;
    padding: 20px;
    border: 1px solid #293462;
    width: auto;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

#modalTitle {
    color: #293462;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 1px;
        opacity: 1;
    }
}

@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 1px;
        opacity: 1;
    }
}

/**
<style>
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
 */